<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66e06f">  <td>20/10/03 12:58:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment.ApplyCredit()[pri:1, instance:FiratAutomation.ApiTesting.Assignment@44a664f2]">ApplyCredit</td> 
  <td>main@1866161430</td>   <td></td> </tr>
<tr bgcolor="66e06f">  <td>20/10/03 12:58:12</td>   <td>4061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment.InputAdress()[pri:3, instance:FiratAutomation.ApiTesting.Assignment@44a664f2]">InputAdress</td> 
  <td>main@1866161430</td>   <td></td> </tr>
<tr bgcolor="66e06f">  <td>20/10/03 12:58:12</td>   <td>3362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment.PinValidate()[pri:2, instance:FiratAutomation.ApiTesting.Assignment@44a664f2]">PinValidate</td> 
  <td>main@1866161430</td>   <td></td> </tr>
</table>
